@mixin _hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin _mobile {
  @media (max-width: 767.98px) {
    @content;
  }
}

@mixin _tablet {
  @media (max-width: 1279.98px) {
    @content;
  }
}

@mixin _font($fontWeight, $fontSize, $fontColor) {
  font-weight: $fontWeight;
  font-size: #{$fontSize}px;
  color: $fontColor;
}
